NET "clk"			  LOC = P129  | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;
 
NET "reset_n"			LOC = P80   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "ena"			LOC = P79	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "duty[0]"			LOC = P70  | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "duty[1]"			LOC = P69   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "duty[2]"			LOC = P68   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "duty[3]"			LOC = P64   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "duty[4]"			LOC = P63   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "duty[5]"			LOC = P60   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "duty[6]"			LOC = P59   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "duty[7]"			LOC = P58   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;


NET "pwm_out[0]"			LOC = P55	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "pwm_n_out[0]"			LOC = P54	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
